<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- open sans font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- css -->
  <link rel="stylesheet" href="css/style.css">

  <title>My Boolzapp</title>
</head>
<body>
  
  <div id="app">

    <main class="container d-flex">

        <!-- aside -->
        <aside id="aside-content" class="h-100">

          <!-- aside header-->
          <header class="section-header">
            <div class="avatar">
              <img :src="user.avatar" :alt="user.name">
              <span class="info">{{user.name}}</span>
            </div>
            <div class="icons d-flex">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </header>

          <!-- aside main-->

          <!-- notice -->
          <div class="notice d-flex align-center">
            <div class="bell">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="info">
              <div class="notice-advice">Ricevi notifiche di nuovi messaggi</div>
              <div class="notice-settings">Attiva notifiche desktop</div>
            </div>
          </div>

           <!-- search -->
           <div class="search">
              <div class="bar d-flex">
                <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                <input @keyup="searchContact" v-model="newSearch" type="text" placeholder="Cerca o inizia una nuova chat">
              </div>
           </div>

           <!-- contacts -->
          <div id="contacts" class="overflow-y">

              <div v-for="(contact,index) in contacts" @click="showContact(index)" class="avatar d-flex w-100" :class="(contacts[index].visible==false?'d-none':''), (activeContact==index?'selected':'')">
                <div class="h-100 d-flex">
                  <img :src="contact.avatar" :alt="contact.name">
                <div class="info">
                  <span class="name">{{contact.name}}</span>
                  <div class="access">Ultimo messaggio inviato</div>
                </div>
                </div>
                <div v-for="(mex,indice) in contacts[index].messages" class="time">
                  <div v-if="indice==contacts[index].messages.length-1">{{mex.date}}</div>
                </div>
              </div>

            <!-- <div class="scroll-bar">
              <i class="fa-solid fa-caret-up"></i>
              <i class="fa-solid fa-caret-down"></i>
            </div> -->
          </div>

        </aside>



        <!-- main content -->
        <div id="main-content" class="h-100">

          <!-- chat header -->
          <header class="section-header">
            <div class="avatar d-flex align-center">
              <img :src="contacts[activeContact].avatar" alt="contacts[activeContact].name">
              <div class="info">
                <span class="name">{{contacts[activeContact].name}}</span>
                <div class="access">Ultimo accesso oggi alle 
                  <span>{{onlyTimeNoSeconds()}}</span>
                </div>
              </div>
            </div>
            <div class="icons d-flex">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </header>

          <!-- chat area-->
          <div id="chat" class="d-flex">

            <div class="chat-area overflow-y">
              
              <div class="mex-container d-flex">
                <div v-for="(mex,index) in contacts[activeContact].messages" class="mex" :class="mex.status=='sent'?'sent':'received'">
                  <div @click="mex.showMenu=!mex.showMenu" class="mex-menu-icon"><i class="fa-solid fa-chevron-down"></i></div>
                  <div v-show="mex.showMenu" class="mex-menu">
                    <div class="info-menu">Message info</div>
                    <div class="info-menu" @click="removeMessage(index)">Delete message</div>
                  </div>
                  <div class="mex-text">{{mex.message}}</div>
                  <div class="time">{{onlyTime(index)}}</div>
                </div>
              </div>
              
            </div>

            <!-- <div class="scroll-bar">
              <i class="fa-solid fa-caret-up"></i>
              <i class="fa-solid fa-caret-down"></i>
            </div> -->
          </div>

          <!-- chat bar -->
          <div class="chat-bar d-flex">
            <i class="fa-regular fa-face-smile"></i>
            <div class="bar">
              <input v-model="newMex" @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio">
            </div>
            <i class="fa-solid fa-microphone"></i>
          </div>

      
        </div>
      
    </main>


  </div>

  <!-- script luxon -->
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
  <!-- script vue js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- script js -->
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>